<%-include("header")-%>

<div class="home">
  <img class="home_img" src="images/homeimage.jpg" alt="images/homeimage2.jpg" />
  <div class="product" id="top">
    <div class="productsingle">
        <form class="" action="/basket" method="post">
           <p class="title">Apple AirPods with Wired Charging Case</p>
           <div class="product_price">
              <small name="price">$</small>
              <strong>226</strong>
           </div>
           <p class="rating">⭐️⭐️⭐️⭐️</p>
           <img  class="product_img" src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/MV7N2?wid=1144&hei=1144&fmt=jpeg&qlt=95&op_usm=0.5,0.5&.v=1551489688005" />
           <div class="btt">
              <button class="btnn" type="submit">Add to basket</button>
           </div>
            <input type="hidden" name="p" value="Apple AirPods with Wired Charging Case">
            <input type="hidden" name="price" value="226">
            <input type="hidden" name="rating" value="⭐️⭐️⭐️⭐️">
            <input type="hidden" name="img" value="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/MV7N2?wid=1144&hei=1144&fmt=jpeg&qlt=95&op_usm=0.5,0.5&.v=1551489688005">
        </form>

      </div>

      <div class="productsingle">
        <form class="" action="/basket" method="post">
          <p class="title">Letsfit Smart Watch, Fitness Tracker with Heart Rate Monitor, Activity Tracker with 1.3" Touch Screen, IP68 </p>
          <div class="product_price">
             <small>$</small>
             <strong>38</strong>
          </div>
          <p class="rating">⭐️⭐️⭐️</p>
          <img class="product_img"src="https://www.amazon.com/images/I/61MNpaOq6GL._AC_SX679_.jpg" />
          <div class="btt">
            <button class="btnn">Add to basket</button>
          </div>
          <input type="hidden" name="p" value="Letsfit Smart Watch, Fitness Tracker with Heart Rate Monitor, Activity Tracker with 1.3 Touch Screen, IP68 ">
          <input type="hidden" name="price" value="38 ">
          <input type="hidden" name="rating" value="⭐️⭐️⭐️">
          <input type="hidden" name="img" value="https://www.amazon.com/images/I/61MNpaOq6GL._AC_SX679_.jpg ">
        </form>
        </div>
     </div>


<div class=" product">
  <div class="productsingle">
    <form class="" action="/basket" method="post">
      <p class="title">Apple iPhone 11 Pro Max (64GB, Midnight Green) [Carrier Locked] + Carrier Subscription [Cricket Wireless] ($10/Month Amazon Gift Card Credit)</p>
      <div class="product_price">
         <small>$</small>
         <strong>1199</strong>
      </div>
      <p class="rating">⭐️⭐️⭐️⭐️⭐️</p>
      <img class="product_img"src="https://images-na.ssl-images-amazon.com/images/I/61ers6OzvUL._SL1024_.jpg" />
      <div class="btt">
         <button class="btnn">Add to basket</button>
      </div>
      <input type="hidden" name="p" value="Apple iPhone 11 Pro Max (64GB, Midnight Green) [Carrier Locked] + Carrier Subscription [Cricket Wireless] ($10/Month Amazon Gift Card Credit)">
      <input type="hidden" name="price" value="1199 ">
      <input type="hidden" name="rating" value="⭐️⭐️⭐️⭐️⭐️">
      <input type="hidden" name="img" value="https://images-na.ssl-images-amazon.com/images/I/61ers6OzvUL._SL1024_.jpg">
     </form>
    </div>



    <div class="productsingle">
      <form class="" action="/basket" method="post">
      <p class="title">Xiaomi Redmi Note 9 Pro 128GB + 6GB RAM, 6.67" FHD+ DotDisplay, 64MP AI Quad Camera, Qualcomm Snapdragon 720G LTE Factory Unlocked Smartphone - </p>
      <div class="product_price">
        <small>$</small>
        <strong>232</strong>
      </div>
      <p class="rating">⭐️⭐️⭐️⭐️</p>
      <img class="product_img"src="https://i01.appmifile.com/webfile/globalimg/in/cms/852D3B1A-4511-EA95-7918-A7FAAAF29DE0.jpg" />
      <div class="btt">
        <button class="btnn">Add to basket</button>
      </div>
      <input type="hidden" name="p" value="Xiaomi Redmi Note 9 Pro 128GB + 6GB RAM, 6.67 FHD+ DotDisplay, 64MP AI Quad Camera, Qualcomm Snapdragon 720G LTE Factory Unlocked Smartphone ">
      <input type="hidden" name="price" value="232 ">
      <input type="hidden" name="rating" value="⭐️⭐️⭐️⭐️">
      <input type="hidden" name="img" value="https://i01.appmifile.com/webfile/globalimg/in/cms/852D3B1A-4511-EA95-7918-A7FAAAF29DE0.jpg">
     </form>
    </div>



    <div class="productsingle">
      <form class="" action="/basket" method="post">
      <p class="title">RUNMUS Stereo Gaming Headset for PS4, Xbox One, Nintendo Switch, PC, PS3, Mac, Laptop, Over Ear Headphones PS4 Headset Xbox One Headset with Surround Sound, LED Light & Noise Canceling Microphone</p>
      <div class="product_price">
        <small>$</small>
        <strong>38.85</strong>
      </div>
      <p class="rating">⭐️⭐️⭐️⭐️</p>
      <img class="product_img"src="https://images-na.ssl-images-amazon.com/images/I/51HzG7dwAHL._AC_SY700_.jpg" />
      <div class="btt">
       <button class="btnn">Add to basket</button>
      </div>
      <input type="hidden" name="p" value="RUNMUS Stereo Gaming Headset for PS4, Xbox One, Nintendo Switch, PC, PS3, Mac, Laptop, Over Ear Headphones PS4 Headset Xbox One Headset with Surround Sound, LED Light & Noise Canceling Microphone ">
      <input type="hidden" name="price" value="38.85 ">
      <input type="hidden" name="rating" value="⭐️⭐️⭐️⭐️">
      <input type="hidden" name="img" value="https://images-na.ssl-images-amazon.com/images/I/51HzG7dwAHL._AC_SY700_.jpg">
     </form>
    </div>
  </div>


  <div class="product">
    <div class="productsingle">
      <form class="" action="/basket" method="post">
      <p class="title">DELL Vostro 3480 14-inch Laptop (8th Gen Core i5-8265U/8GB/1TB HDD/Window 10/2 GB AMD Radeon 520 Graphicss), Black</p>
      <div class="product_price">
        <small>$</small>
        <strong>801.09</strong>
      </div>
      <p class="rating">⭐️⭐️⭐️⭐️</p>
      <img class="product_img"src="https://images-na.ssl-images-amazon.com/images/I/611ZJU-eMJL._SL1000_.jpg"/>
      <div class="btt">
        <button class="btnn">Add to basket</button>
      </div>
      <input type="hidden" name="p" value="DELL Vostro 3480 14-inch Laptop (8th Gen Core i5-8265U/8GB/1TB HDD/Window 10/2 GB AMD Radeon 520 Graphicss), Black">
      <input type="hidden" name="price" value="801.09">
      <input type="hidden" name="rating" value="⭐️⭐️⭐️⭐️⭐️">
      <input type="hidden" name="img" value="https://images-na.ssl-images-amazon.com/images/I/611ZJU-eMJL._SL1000_.jpg">
      </form>
     </div>

     <div class="productsingle">
       <form class="" action="/basket" method="post">
       <p class="title">Echo Dot (3rd Gen) – New and improved smart speaker with Alexa (Black)</p>
       <div class="product_price">
         <small>$</small>
         <strong>46.70</strong>
       </div>
       <p class="rating">⭐️⭐️⭐️⭐️</p>
       <img class="product_img"src="https://5.imimg.com/data5/BF/GZ/VD/SELLER-4390697/amazon-echo-dot-3rd-generation--500x500.jpg"/>
       <div class="btt">
         <button class="btnn">Add to basket</button>
       </div>
       <input type="hidden" name="p" value="Echo Dot (3rd Gen) – New and improved smart speaker with Alexa (Black)">
       <input type="hidden" name="price" value="46.70 ">
       <input type="hidden" name="rating" value="⭐️⭐️⭐️⭐️">
       <input type="hidden" name="img" value="https://5.imimg.com/data5/BF/GZ/VD/SELLER-4390697/amazon-echo-dot-3rd-generation--500x500.jpg">
       </form>
      </div>
  </div>

  <div class="product">

   <div class="productsingle">
     <form class="" action="/basket" method="post">
     <p class="title">Sony X800H 43 Inch TV: 4K Ultra HD Smart LED TV with HDR and Alexa Compatibility - 2020 Model Brand: Sony|</p>
     <div class="product_price">
       <small>$</small>
       <strong>1200.30</strong>
     </div>
     <p class="rating">⭐️⭐️⭐️⭐️</p>
     <img class="product_img"src="https://pisces.bbystatic.com/image2/BestBuy_US/images/products/6400/6400729_sd.jpg;maxHeight=640;maxWidth=550"/>
     <div class="btt">
       <button class="btnn">Add to basket</button>
     </div>
     <input type="hidden" name="p" value="Sony X800H 43 Inch TV: 4K Ultra HD Smart LED TV with HDR and Alexa Compatibility - 2020 Model Brand: Sony|">
     <input type="hidden" name="price" value="1200.30 ">
     <input type="hidden" name="rating" value="⭐️⭐️⭐️⭐️">
     <input type="hidden" name="img" value="https://pisces.bbystatic.com/image2/BestBuy_US/images/products/6400/6400729_sd.jpg;maxHeight=640;maxWidth=550">
     </form>
    </div>
  </div>

  <div id="gallery" class="carousel slide caraousel_background" data-ride="false">
     <h3>Best Seller in Books</h3>
     <div class="carousel-inner">
         <div class="carousel-item active">
             <div class="row">
                 <div class="col">
                   <img class="product_img img_fluid"src="https://images-na.ssl-images-amazon.com/images/I/5119qMYKkKL._SY437_BO1,204,203,200_.jpg" alt="bookiamge"/>
                 </div>

                 <div class="col">
                     <img class="product_img img-fluid" src="https://images-na.ssl-images-amazon.com/images/I/51UNiQJBLEL._SX326_BO1,204,203,200_.jpg" alt="bookiamge"/>
                 </div>

                 <div class="col">
                     <img class="product_img img-fluid" src="https://images-na.ssl-images-amazon.com/images/I/51xwGSNX-EL._SX356_BO1,204,203,200_.jpg" alt="bookiamge"/>
                 </div>

                 <div class="col">
                     <img class="product_img img-fluid" src="https://images-na.ssl-images-amazon.com/images/I/51fJvBUFE1L._SX324_BO1,204,203,200_.jpg" alt="bookiamge"/>
                 </div>
             </div>
         </div>

         <div class="carousel-item">
             <div class="row">
                 <div class="col">
                     <img class="img-fluid product_img" src="https://images-na.ssl-images-amazon.com/images/I/410llGwMZGL._SX328_BO1,204,203,200_.jpg" alt="bookiamge"/>
                 </div>

                 <div class="col">
                     <img class="img-fluid product_img" src="https://images-na.ssl-images-amazon.com/images/I/51QTTApN-XL._SX324_BO1,204,203,200_.jpg" alt="bookiamge"/>
                 </div>

                 <div class="col">
                     <img class="img-fluid product_img" src="https://images-na.ssl-images-amazon.com/images/I/41F8ATXoMOL._SX317_BO1,204,203,200_.jpg" alt="bookiamge"/>
                 </div>
             </div>
         </div>
     </div>
     <a class="carousel-control-prev " href="#gallery" role="button" data-slide="prev">
         <div class="caraouselbtn carprev">
          <span class="carousel-control-prev-icon caraousel_btnprev" aria-hidden="true"></span>
         </div>
         <span class="sr-only">Previous</span>
     </a>

     <a class="carousel-control-next " href="#gallery" role="button" data-slide="next">
         <div class="caraouselbtn">
          <span class="carousel-control-next-icon caraousel_btnfor" aria-hidden="true"></span>
         </div>
         <span class="sr-only">Next</span>
     </a>
 </div>




 <div id="gallery2" class="carousel slide caraousel_background" data-ride="false">
    <h3>Mens Shirt under 30$</h3>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="row">
                <div class="col">
                  <img class="product_img img_fluid"src="https://images-na.ssl-images-amazon.com/images/I/31M1lrW%2BxNL._AC_SY400_.jpg" alt="shirtiamge"/>
                </div>

                <div class="col">
                   <img class="product_img img_fluid"src="https://www.amazon.com/images/I/71RBJcVulVL._AC_UX679_.jpg" alt="shirtiamge"/>
                </div>

                <div class="col">
                    <img class="product_img img-fluid" src="https://www.amazon.com/images/I/71id%2BwwTw-L._AC_UX679_.jpg" alt="shirtiamge"/>
                </div>

                <div class="col">
                    <img class="product_img img-fluid" src="https://images-na.ssl-images-amazon.com/images/I/51su8r%2B3n4L._UL1500_.jpg" alt="shirtiamge"/>
                </div>

                <div class="col">
                    <img class="product_img img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQxQJRegQ41BFATxHv1Bx-iog49GPqmxr8Y_Q&usqp=CAU" alt="shirtiamge"/>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="row">
                <div class="col">
                    <img class="img-fluid product_img" src="https://images-na.ssl-images-amazon.com/images/I/31xqRTLYRiL._AC_SY400_.jpg" alt="shirtiamge"/>
                </div>

                <div class="col">
                    <img class="img-fluid product_img" src="https://images-na.ssl-images-amazon.com/images/I/81YUI5FRQmL._AC_UY700_.jpg" alt="shirtiamge"/>
                </div>

                <div class="col">
                    <img class="img-fluid product_img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSeD5_SmjESM-xxYnIS92_l5o8_1qBFIwNaaQ&usqp=CAU" alt="shirtiamge"/>
                </div>
            </div>
        </div>
    </div>

    <a class="carousel-control-prev " href="#gallery2" role="button" data-slide="prev">
        <div class="caraouselbtn carprev">
         <span class="carousel-control-prev-icon caraousel_btnprev" aria-hidden="true"></span>
        </div>
        <span class="sr-only">Previous</span>
    </a>

    <a class="carousel-control-next " href="#gallery2" role="button" data-slide="next">
        <div class="caraouselbtn">
         <span class="carousel-control-next-icon caraousel_btnfor" aria-hidden="true"></span>
        </div>
        <span class="sr-only">Next</span>
    </a>
</div>



   <div id="gallery1" class="carousel slide caraousel_background" data-ride="false">
      <h3>Gifts in Video Games under $30</h3>
      <div class="carousel-inner">
          <div class="carousel-item active">
              <div class="row">
                  <div class="col">
                    <img class="product_img img_fluid"src="https://www.amazon.com/images/I/71dIHv1zh7L._SL1500_.jpg" />
                  </div>

                  <div class="col">
                     <img class="product_img img_fluid"src="https://www.amazon.com/images/I/81ZQgWwuVzL._AC_SL1500_.jpg" />
                  </div>

                  <div class="col">
                      <img class="product_img img-fluid" src="https://www.amazon.com/images/I/61lnzTv2a0L._AC_SL1000_.jpg" />
                  </div>

                  <div class="col">
                      <img class="product_img img-fluid" src="https://www.amazon.com/images/I/710OMyE1oXL._SL1500_.jpg" />
                  </div>

                  <div class="col">
                      <img class="product_img img-fluid" src="https://www.amazon.com/images/I/515l36vqKBL._AC_SL1000_.jpg" />
                  </div>
              </div>
          </div>

          <div class="carousel-item">
              <div class="row">
                  <div class="col">
                      <img class="img-fluid product_img" src="https://www.amazon.com/images/I/81UWP87LpwL._AC_SL1500_.jpg" />
                  </div>

                  <div class="col">
                      <img class="img-fluid product_img" src="https://www.amazon.com/images/I/71fio308pBL._AC_SL1500_.jpg" />
                  </div>

                  <div class="col">
                      <img class="img-fluid product_img" src="https://www.amazon.com/images/I/71xQeplYVRL._AC_SL1496_.jpg" />
                  </div>

                  <div class="col">
                      <img class="img-fluid product_img" src="https://www.amazon.com/images/I/61d9C4yCB2L._AC_SL1000_.jpg" />
                  </div>
              </div>
          </div>
      </div>

      <a class="carousel-control-prev " href="#gallery1" role="button" data-slide="prev">
          <div class="caraouselbtn carprev">
           <span class="carousel-control-prev-icon caraousel_btnprev" aria-hidden="true"></span>
          </div>
          <span class="sr-only">Previous</span>
      </a>

      <a class="carousel-control-next " href="#gallery1" role="button" data-slide="next">
          <div class="caraouselbtn">
           <span class="carousel-control-next-icon caraousel_btnfor" aria-hidden="true"></span>
          </div>
          <span class="sr-only">Next</span>
      </a>
  </div>
  <div class="body_footer">
   <a href="#top">Back to top</a>
  </div>


</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
