<%-include("header")-%>
<link rel="stylesheet" href="css/tryprime.css">
<div>
<div class="tryprimefirst" id="tp">
  <img src="https://sm.mashable.com/t/mashable_sea/article/a/amazon-pri/amazon-prime-video-releases-zoom-backgrounds-for-fleabag-mai_85v5.1920.png" />
  <div class="tryprime_elements">
    <strong>amazon prime</strong>
    <h2>Unlimited FREE fast delivery, videos, music, gaming & more</h2>
    <span>
      Prime members enjoy unlimited free, fast delivery on eligible items, video streaming, ad-free music, free in-game content, exclusive access to deals & more.
      </span>
    <button type="button" name="button">Login to Join Prime</button>
    <p>You cannot pay on delivery for your Prime membership. By signing up for a Prime membership, you agree to the Amazon Prime Terms and Conditions.</p>
  </div>
  </div>

  <div class="tryprime_element1">
    <img class="primeimg" src="https://techcrunch.com/wp-content/uploads/2015/09/amazon-prime-box.jpg?w=711" />
    <div class="child1">
      <h2>Unlimited FREE fast delivery</h2>
      <strong>Guaranteed free Two-Day and Standard Delivery on eligible items</strong>
      <p>
        Why pay Rs.100 for One-Day Delivery every time you need an item quickly? As a Prime member, get unlimited FREE One-Day and Two-Day Delivery on eligible items from India’s largest online store, to over a hundred cities. Prime items that are not eligible for free One-Day or Two-Day Delivery to your location, will always qualify for free Standard Delivery with no minimum purchase value. The fastest, free Prime delivery speed available for an item will be shown on the product page.
        </p>
      </div>
    </div>
    <div class="tryprime_element1 ">
      <img class="primeimg"src="https://images-na.ssl-images-amazon.com/images/G/31/prime/detail_page/Prime_Detail_Page_PC_VideoLaunch_1344x526._CB434858193_.jpg" />
      <div class="child1">
        <h2>Prime Video</h2>
        <strong>Watch the latest and exclusive movies & TV shows</strong>
        <p>
          With your Prime membership, you have access to the latest and exclusive Bollywood and regional blockbusters such as Raazi and Goodachari, and Hollywood movies like Jumanji: Welcome to the Jungle. You can also get stuck into US TV shows like Young Sheldon, and exclusive access to Prime Original Series Comicstaan, Breathe and Inside Edge.

          Access Prime Video anywhere: on the go or in the comfort of your living room. Watch on your Android or iOS phone, tablet, laptop, desktop, or smart TV.
          </p>
        </div>
      </div>
      <div class="tryprime_element1 ">
        <img class="primeimg"src="https://images-na.ssl-images-amazon.com/images/G/31/marketing/prime/pdp/Robin_Benefit2._CB485968652_.jpg" />
        <div class="child1">
          <h2>Prime Music</h2>
          <strong>All your favorite music–ad-free and with unlimited offline downloads</strong>
          <p>
           With your Prime membership, enjoy ad-free music streaming with unlimited offline downloads* across tens of millions of songs in multiple languages - English, Hindi, Tamil, Punjabi, Telugu, Bengali and more. Enjoy Playlists and Stations specially curated by Amazon’s music editors across moods, activities, genres, artists and decades.
            </p>
          </div>
        </div>
        <div class="tryprime_element1 ">
          <img class="primeimg"src="https://images-na.ssl-images-amazon.com/images/G/31/prime/detail_page/Prime_Detail_Page_PC_Check_prime_1344x526._CB485969112_.jpg" />
          <div class="child1">
            <h2>Look For Prime</h2>
            <p>
              Items eligible for Prime delivery benefits (free One-Day, Two-Day and Standard Delivery) are clearly marked. Just look for  next to products when you search. Choose the Prime logo filter to view Prime items only.
            As a Prime member, you can update your delivery pin-code on product pages to see the fastest, free delivery option next to the Prime logo. You can see all Prime delivery options available for your order at Checkout.
            </p>
          </div>
        </div>
      <div class="tryprime_btn">
       <a href="#tp">Back to top</a>
      </div>
</div>
